<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Form</h1>
<h2>Mettre à jour le chemin par region :</h2><a th:href="@{/regions}">Mettre à jour region</a>
<h2>Mettre à jour le chemin par categorie :</h2><a th:href="@{/categories}"> Mettre à jour categories</a>
<h2>Mettre à jour les visites Importantes :</h2><a th:href="@{/places}"> Mettre à jour les visites importantes</a>

</body>
</html>
